:root {
    --color-bg: #0C111F;
    --color-light: #20293A;
    --color-lighter: #3eadf2;
    --color-lightest: #5FBAF4;
}

body, 
html {
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    padding: 0;
    margin: 0;
    font-family: Inter var,
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Arial,
        Noto Sans,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol,
        Noto Color Emoji;
}

.container {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    background-color: var(--color-bg);
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
}

input[type="search"] {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-light);
    color: white;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
    text-align: center;

    &::placeholder {
        color: white;
        font-size: 1.2rem;
    }
}

input[type="submit"] {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-lighter);
    color: white;
    font-size: 1.1rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
    text-align: center;
    transition: 0.3s all ease-in-out;
    margin-left: 50%;
    transform: translateX(-50%);

    &:hover {
        cursor: pointer;
        background-color: var(--color-lightest);
    }
}

.resultats {
    width: 100%;
    max-width: 600px;
    height: 100%;
    background-color: var(--color-bg);
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

    & .ligne {

        margin-bottom: 1rem;
        border: 1px solid var(--color-light);
        padding: 1rem;
        border-radius: 10px;
        transition: 0.3s all ease-in-out;

        &:hover {
            background-color: var(--color-light);
        }

        & span.cp {
            color: var(--color-lighter);
            font-size: 1.5rem;
            font-weight: bold;
            margin-right: 1rem;
        }

        & span.ville {
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

}